<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<!-- 需要在主配置文件配置entityManagerFactory和transactionManager的实现 -->
	<bean id="deployDao" class="cn.bc.workflow.deploy.dao.hibernate.jpa.DeployDaoImpl">
		<property name="entityClass" value="cn.bc.workflow.deploy.domain.Deploy"/>
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	<bean id="deployService" class="cn.bc.workflow.deploy.service.DeployServiceImpl">
		<property name="entityClass" value="cn.bc.workflow.deploy.domain.Deploy"/>
		<property name="deployDao" ref="deployDao"/>
	</bean>
</beans>