<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<!-- flowAttachServiceDao -->
	<bean id="flowAttachDao" class="cn.bc.workflow.flowattach.dao.hibernate.jpa.FlowAttachDaoImpl">
		<property name="entityClass" value="cn.bc.workflow.flowattach.domain.FlowAttach"/>
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	<bean id="flowAttachService" class="cn.bc.workflow.flowattach.service.FlowAttachServiceImpl">
		<property name="entityClass" value="cn.bc.workflow.flowattach.domain.FlowAttach"/>
		<property name="crudDao" ref="flowAttachDao"/>
	</bean>
</beans>